.about{
    padding-bottom: 100px;
    h5{
        text-transform: uppercase;
        font-family: $QuattrocentoSansRegular;
        font-size: 36px;
        padding: 80px 0 80px;
         &::before{
                content: "";
                width: 7px;
                height: 24px;
                background-color: $primary;
                opacity: .2;
                display: inline-block;
                margin: 0 12px;
         }
    }
}
.about-left{
    margin-right: 20px;
    ul{
        margin-top: 55px;
    }
    p{
        max-width: 649px;
        width: 100%;
        line-height: 1.7;
    }
    li{
        width: 60px;
        height: 60px;
        background-color: #c8cdd0;
        margin-right: 1px;
        text-align: center;
        line-height: 2.5;
    }
    a{
        color: $white;
        font-size: 24px;
        transition: .3s linear;
            &:hover{
                opacity: 0.6;
            }
    }
}
.about-right{
    h1{
        text-transform: uppercase;
        font-family: $QuattrocentoSansRegular;
        margin-bottom: 10px;
    }
    p{
        max-width: 419px;
        width: 100%;
        height: 54px;
        font-size: 15px;
        line-height: 1.5;
    }
    img{
        max-width: 50px;
        width: 100%;
        float: left;
        margin-right: 25px;
    }
    article{
        margin-bottom: 40px;
    }
}
.hr{
    margin: 10px auto;
    border: 0;
    box-shadow: 0 0 1px 1px#A4AEAD;
    opacity: 0.2;
}
.a-box{
    margin-bottom: 15px;
    position: relative;
    max-width: 262px;
    width: 100%;
    height: 375px;
    background: #000000;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0,0,0, .2);
    &:hover .imgBox img{
        opacity: 0.5;
    }
}
.imgBox{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    z-index: 2;
    background: #e1e6ea;
    img{
        transition: 0.5s;
    }
    h1{
        text-transform: uppercase;
        font-family: $QuattrocentoSansBold;
        margin: 10px auto auto 10px;
    }
    p{
        margin-left: 10px;
        line-height: 1.5;
        color: $primary;
    }
    &:hover{
        background: $black-primary;
        h1,p{
            color: $white;
        }
    }
}
.social-icon{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    display: flex;
    a{
        position: relative;
        display: block;
        width: 50px;
        height: 50px;
        font-size: 20px;
        background: $black-primary;
        color: $white;
        margin: 0 1px;
        transition: 0.5;
        opacity: 0;
    }
    svg{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
.a-box{
    &:hover .social-icon li a{
        opacity: 1;
    }
}
.a-box{
    &:hover .social-icon li a:hover{
        opacity: 0.9;
    }
}
@media (max-width: 768px){
    .about-left{
        p{
            width: 100%;
            line-height: 1.7;
        }
    }
    .about-right{
        display: none;
    }
    .hr{
        margin: 10px auto;
        border: 0;
        box-shadow: 0 0 1px 1px#A4AEAD;
        opacity: 0.2;
    }
}
@media (max-width: 600px){
    .about-left{
        p{
            text-align: center;
            width: 100%;
            line-height: 1.7;
        }
        li{
            width: 40px;
            height: 40px;
            background-color: #c8cdd0;
            margin-right: 1px;
            text-align: center;
            line-height: 1.7;
        }
        ul{
            justify-content: center;
        }
    }
    .resp{
        display: flex;
        justify-content: center;
        h5{
            font-size: 25px;
            padding: 50px 0 60px;
        }
    }
}
@media (max-width: 350px){
    .about{
        h5{
            font-size: 25px;
            padding: 40px 0 40px 25px;
            &::before{
                display: none;
            }
        }
    }
    .resp{
        h5{
            font-size: 25px;
            padding: 40px 0 50px ;
        }
    }
}