@font-face{
    font-family: "OpenSansSemiBold";
    src: url("../fonts/OpenSansSemiBold.ttf");
	src: url('../fonts/OpenSansSemiBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSansSemiBold.woff2') format('woff2'),
         url('../fonts/OpenSansSemiBold.woff') format('woff'), 
         url('../fonts/OpenSansSemiBold.ttf') format('truetype'),
         url('../fonts/OpenSansSemiBold.svg#OpenSansSemiBold') format('svg'); 
}
@font-face{
    font-family: "QuattrocentoSansBold";
    src: url("../fonts/QuattrocentoSansBold.ttf");
	src: url('../fonts/QuattrocentoSansBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/QuattrocentoSansBold.woff2') format('woff2'),
         url('../fonts/QuattrocentoSansBold.woff') format('woff'), 
         url('../fonts/QuattrocentoSansBold.ttf') format('truetype'),
         url('../fonts/QuattrocentoSansBold.svg#QuattrocentoSansBold') format('svg'); 
}
@font-face{
    font-family: "OpenSansRegular";
    src: url("../fonts/OpenSansRegular.ttf");
	src: url('../fonts/OpenSansRegular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSansRegular.woff2') format('woff2'),
         url('../fonts/OpenSansRegular.woff') format('woff'), 
         url('../fonts/OpenSansRegular.ttf') format('truetype'),
         url('../fonts/OpenSansRegular.svg#OpenSansRegular') format('svg'); 
}
@font-face{
    font-family: "QuattrocentoSansRegular";
    src: url("../fonts/QuattrocentoSansRegular.ttf");
	src: url('../fonts/QuattrocentoSansRegular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/QuattrocentoSansRegular.woff2') format('woff2'),
         url('../fonts/QuattrocentoSansRegular.woff') format('woff'), 
         url('../fonts/QuattrocentoSansRegular.ttf') format('truetype'),
         url('../fonts/QuattrocentoSansRegular.svg#QuattrocentoSansRegular') format('svg'); 
}