.container{
    max-width: 1150px;
    width: 100%;
    margin: 0 auto;
    padding: 0 30px;
}
.flex{
    display: flex;
}
.space-between{
    justify-content: space-between;
}
.center{
    justify-content: center;
}
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
.paragraph{
    font-size: 15.3px;
    font-family: "OpenSansRegular";
    color: #A4AEAD;
}
.wrap{
    flex-wrap: wrap;
}
.space-around{
    justify-content: space-around;
}
.inline-block{
    display: inline-block;
}
.contact{
    h2{
        padding: 50px 0;
    }
}