$white: #fff;
$primary: #A4AEAD;
$OpenSansSemiBold: "OpenSansSemiBold";
$QuattrocentoSansBold: "QuattrocentoSansBold";
$OpenSansRegular: "OpenSansRegular";
$hover: #23b7a4;
$transition: .2s linear;
$QuattrocentoSansRegular: "QuattrocentoSansRegular";
$black-primary: #3a454d;
$header-black: #1d2126;